.website-content {
    margin: 12px auto 40px auto;
    max-width: 1000px;
    overflow: hidden;
    width:90%;
}

.website-content > div {
    margin-top: 4px;
}

.important {
    color: #980000;
}

mark {
    background-color: yellow;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.question-wrapper .radio-list,
.question-wrapper .task-list {
    list-style: none;
    padding-left:0;
}

.radio-list-input, .task-list-item-checkbox {
    margin-right: 10px!important;
}

.block-embed {
    text-align: center;
}

.closeable-show {
    padding: 4px;
}


.indented-less {
    padding-left: 10px;
}

.indented {
    padding-left: 20px;
}

.indented-level1 {
    padding-left: 20px;
}

.indented-level2 {
    padding-left: 40px;
}

.indented-level3 {
    padding-left: 60px;
}

.indented-level4 {
    padding-left: 80px;
}
